*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: inherit;
    color: #969696;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.wrapper-search{
background: url('../assets/images/pattern-bg.png') no-repeat 100% 100% / cover;
min-height: 270px;
padding: 20px;
text-align: center;
}